<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Behavior</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/mode.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<body>
    <div class="container" style="text-align: center; margin-top: 50px;">
    <h2>Monitoring Penyaluran Energi Listrik Ke <b>RELAY 4 Channel</b></h2>

    <div class="card text-center">
        <div class="card-header">
            Tugas Akhir 2021 [<b style="color:crimson;">INGAT SIDANG JULI BOS !!!</b>]
            <a href="/audit" type="button">Dataset Mode</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <form class="form-group" method="POST" action="/">
                    MODE BEHAVIOR <input type="checkbox" value="behavior" name="mode">
                    MODE MANUAL <input type="checkbox" value="manual" name="mode">
                    <button class="btn" type="submit">-></button>
                </form>
            </h5>

            <div class="table-responsive" style="margin-top:15px;">
                <table class="table">
                    <caption>list of device activity</caption>
                    <thead>
                        <tr>
                            <th scope="col">Relay ID</th>
                            <th>=</th>
                            <th scope="col">Pengguna</th>
                            <th scope="col">Waktu</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>LOGO LAMPU</td>
                            <td>FACHRI</td>
                            <td>JUMAT, 15.30-15.35</td>
                            <td>ON</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted">
            Telkom University | Muhammad Fachrizal Ramdani | 1103174125
        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js') }}" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js') }}" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>